<div class="container-fluid mt-5">
  <div class="container col-lg-8">
    <h1 class="display-3 text-center">Login <i class="bi bi-door-open-fill"></i></h1>
    <div class="card">
      <div class="container px-6 py-2">
        <div class="card-body px-6">
          <form>
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input [(ngModel)]="username" class="form-control" id="username" name="username" type="text">
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input [(ngModel)]="password" class="form-control" id="password" name="password" type="password">
            </div>
            <button (click)=onSubmit() class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf='invalidLogin' class="alert alert-warning">{{errorMessage}}</div>
    <div *ngIf='loginSuccess' class="alert alert-success">{{successMessage}}</div>
  </div>
</div>
